<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630905075034-fretpu1g28q0tpgq2ekakdtkt5q2fil1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630905075034-fretpu1g28q0tpgq2ekakdtkt5q2fil1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630905075034-tuni7medacc9c9hlakr8aa829kkn3cjo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVzb34GUq9Bmw9U05MOcwwt6bas8hiVRY</string>
	<key>GCM_SENDER_ID</key>
	<string>630905075034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itz.pantry</string>
	<key>PROJECT_ID</key>
	<string>pantry-ae10e</string>
	<key>STORAGE_BUCKET</key>
	<string>pantry-ae10e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630905075034:ios:a8722ec81131b20e9a6f63</string>
</dict>
</plist>
